<h1>🤝 Partner Portal Password Reset</h1>

<p>Dear <%= @partner.contact_person %>,</p>
<p>We received a password reset request for your SouthCoast Partner Portal account.</p>

<ul>
  <li><strong>Business:</strong> <%= @partner.supplier_name %></li>
  <li><strong>Contact Person:</strong> <%= @partner.contact_person %></li>
  <li><strong>Account Email:</strong> <%= @partner.email %></li>
  <li><strong>Request Time:</strong> <%= Time.current.strftime("%B %d, %Y at %I:%M %p") %></li>
  <li><strong>Link Expires:</strong> 1 hour from request time</li>
</ul>

<p>Click the link below to reset your password:</p>
<p><a href="<%= @reset_url %>"><strong>Reset Partner Password</strong></a></p>

<p><strong>Partner Security:</strong> If you didn't request this password reset, please contact our partner support team immediately.</p>

<p>Sent automatically from SouthCoast Partner Portal.</p>